input {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 8px 6px 12px;

  &:read-only {
    border-color: transparent;
  }

  &:focus {
    border-color: #66afe9;
    outline: 0;
  }
}
