<div style="display: flex; align-items: center; gap: 8px; position: relative">
  <input
    type="text"
    [defaultValue]="habit.title"
    [readOnly]="!editMode"
    (focus)="editMode = true"
    (blur)="editMode = false"
    (keyup)="onChange($event)"
    [size]="habit.title.length + 1"
    oninput="this.size = this.value.length + 1"
  />

  <!-- trash icon -->
  <ion-icon
    style="position: absolute; right: 8px"
    name="trash-outline"
    (click)="handleRemoveHabit()"
  ></ion-icon>
</div>
