html,
body {
  margin: 0;

  font-family: "Poppins", sans-serif;
}

button {
  background: #f7f7f5;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #e0e0de;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  &:hover {
    background: #efefef;
  }

  &:active {
    background: #dfdfde;
  }

  .icon {
  }
}
