html,
body {
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

button {
  height: 2.25rem;
  border-radius: 10px;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #1a1c1f;
  color: white;
  border: none;

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #303235;
  }

  &.unstyled {
    background: none;
    color: #1a1c1f;
    border: none;

    &:hover {
      background: none;
      color: #1a1c1f;
      border: none;
    }
  }
}
