<div id="heading">
  <div style="display: flex; gap: 4px">
    <button
      (click)="handleCurrentMonth()"
      class="unstyled control-button"
      style="padding: 0 16px"
    >
      Today
    </button>
    <button (click)="handlePrevMonth()" class="unstyled control-button">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <button (click)="handleNextMonth()" class="unstyled control-button">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
  {{ viewer.toLocaleString('en-US', { month: 'long', year: 'numeric' }) }}
</div>
