<div>
  <ng-template [ngIf]="showControls">
    <app-calendar-header
      [viewer]="viewer"
      (prevMonth)="prevMonth()"
      (nextMonth)="nextMonth()"
      (currentMonth)="currentMonth()"
    ></app-calendar-header>
  </ng-template>
  <table>
    <thead>
      <tr>
        <!-- row number -->
        <th>Day</th>

        <th *ngFor="let habit of habits">
          <app-calendar-habit-title
            [habit]="habit"
            (removeHabit)="removeHabit(habit.id)"
          ></app-calendar-habit-title>
        </th>

        <!-- add habit column -->
        <th><ion-icon name="add-outline" (click)="addHabit()"></ion-icon></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let _ of Arr(numOfDaysInMonth).fill(1); index as i"
        [ngClass]="{ today: isNow && i + 1 === today.getDate() }"
      >
        <!-- row number -->
        <td>{{ i + 1 }}.</td>

        <td *ngFor="let habit of habits">
          <div style="display: flex; justify-content: space-evenly">
            <label class="container" (change)="toggleCheck(i, habit.id)">
              <input type="checkbox" [checked]="habit.done.includes(i)" />
              <span class="checkmark"></span>
            </label>
          </div>
        </td>

        <!-- add habit column -->
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
