<div>
  <ng-template [ngIf]="showControls">
    <div id="heading">
      <div style="display: flex; gap: 4px">
        <button
          (click)="currentMonth()"
          class="unstyled control-button"
          style="padding: 0 16px"
        >
          Today
        </button>
        <button (click)="prevMonth()" class="unstyled control-button">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <button (click)="nextMonth()" class="unstyled control-button">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
      {{ viewer.toLocaleString('en-US', { month: 'long', year: 'numeric' }) }}
    </div>
  </ng-template>
  <table>
    <thead>
      <tr>
        <!-- row number -->
        <th>Day</th>

        <th *ngFor="let habit of habits">
          <div style="display: flex; justify-content: space-evenly">
            <div style="display: flex; align-items: center; gap: 8px">
              {{ habit.title }}

              <!-- trash icon -->
              <ion-icon
                name="trash-outline"
                (click)="removeHabit(habit.id)"
              ></ion-icon>
            </div>
          </div>
        </th>

        <!-- add habit column -->
        <th><ion-icon name="add-outline" (click)="addHabit()"></ion-icon></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let _ of Arr(numOfDaysInMonth).fill(1); index as i"
        [ngClass]="{ today: isNow && i + 1 === today.getDate() }"
      >
        <!-- row number -->
        <td>{{ i + 1 }}.</td>

        <td *ngFor="let habit of habits">
          <div style="display: flex; justify-content: space-evenly">
            <label class="container" (change)="toggleCheck(i, habit.id)">
              <input type="checkbox" [checked]="habit.done.includes(i)" />
              <span class="checkmark"></span>
            </label>
          </div>
        </td>

        <!-- add habit column -->
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
